week-1/assignments/
week-2/assignments/
week-3/assignments/
week-4/assignments/
week-5/assignments/
week-6/assignments/
week-7/assignments/
week-8/assignments/
week-9/assignments/
week-10/assignments/
week-11/assignments/
week-12/assignments/
week-13/assignments/
week-14/assignments/
week-15/assignments/
week-16/assignments/
week-1/demo/
week-2/demo/
week-3/demo/
week-4/demo/
week-5/demo/
week-6/demo/
week-7/demo/
week-8/demo/
week-9/demo/
week-10/demo/
week-11/demo/
week-12/demo/
week-13/demo/
week-14/demo/
week-15/demo/
week-16/demo/
week-1/objectives.md
week-2/objectives.md
week-3/objectives.md
week-4/objectives.md
week-5/objectives.md
week-6/objectives.md
week-7/objectives.md
week-8/objectives.md
week-9/objectives.md
week-10/objectives.md
week-11/objectives.md
week-12/objectives.md
week-13/objectives.md
week-14/objectives.md
week-15/objectives.md
week-16/objectives.md
